/* button, text, timer,... */

.ui-element {
    position: relative;
    border-radius: 10px;

    font-size: var(--p);
    padding: 15px 30px;
}

.ui-element.primary {
    background-color: var(--p1-darken-green);
    color: var(--primary);
}

.ui-element.secondary {
    background-color: var(--p1-light-green);
}

button.ui-element {
    cursor: pointer;
    border: none;
}
