:root {
  --grid-columns: 12;
  --grid-columns-mobile: 4;

  --grid-gap: 16rem;
  --grid-gap-mobile: 14rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns-mobile), minmax(0, 1fr));
  grid-column-gap: var(--grid-gap-mobile);
  row-gap: var(--grid-gap);
}

.col-span-1 {
  grid-column: span 1 / span 1;
}

.col-span-2 {
  grid-column: span 2 / span 2;
}

.col-span-3 {
  grid-column: span 3 / span 3;
}

.col-span-4 {
  grid-column: span 4 / span 4;
}

.col-span-5 {
  grid-column: span 5 / span 5;
}

.col-span-6 {
  grid-column: span 6 / span 6;
}

.col-span-7 {
  grid-column: span 7 / span 7;
}

.col-span-8 {
  grid-column: span 8 / span 8;
}

.col-span-9 {
  grid-column: span 9 / span 9;
}

.col-span-10 {
  grid-column: span 10 / span 10;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 1000px) {
  .grid {
    grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
    grid-column-gap: var(--grid-gap);
  }

  .col-span-6 {
    grid-column: span 6 / span 6;
  }

  .col-span-8 {
    grid-column: span 8 / span 8;
  }

  .col-span-10 {
    grid-column: span 10 / span 10;
  }
}

@media screen and (max-width: 1000px) {
  .s-col-span-1 {
    grid-column: span 1 / span 1 !important;
  }

  .s-col-span-2 {
    grid-column: span 2 / span 2 !important;
  }

  .s-col-span-3 {
    grid-column: span 3 / span 3 !important;
  }

  .s-col-span-4 {
    grid-column: span 4 / span 4 !important;
  }

  .s-none {
    display: none !important;
  }
}


/*********************/
/*********************/
/*********************/

.grid.markers {
  position: fixed;
  margin-inline: var(--global-padding);
  left: 0;
  bottom: 0;
  z-index: 10000;
  width: calc(100vw - var(--global-padding) * 2);
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}

.grid.markers div {
  background-color: rgba(255, 0, 0, 0.15);
  transform-origin: bottom;
  will-change: transform;
}

.grid.markers[data-hidden="true"] > div {
  transform: scaleY(0);
}